@media (min-width:320px) and (max-width: 767px)
{
    .whatpeoplethink .whatpeoplethink__content {
        width: auto;

    }
    .whatpeoplethink .whatpeoplethink__content .whatpeoplethink__detailsbox .whatpeoplethink__details_pera {

        width: auto;

    }
    .realimpact_right_content img {
        margin-top: -45px;
        width: 100%;
    }

    .realimpact_p_p {

        width: auto;

    }

    .whychoose_left_content_text {
        width: auto;

    }
    .card1 {

        width: auto;
    }
    #banner .overlay .banner h1 {
        font-size: 40px;
       font-weight: 600;

    }
    .youalsolike .youalsolike__content .youalsolike__left_content .youalsolike__left_image {
        width: 100%;
        height: fit-content;
    }
    .whychoose_right h6 {

        width: 100%;
    }
    .crightplan_card .crightplan_card_img {
        width: 100%;
    }
    .copyright ul {
        gap: 50px;
    }
    .card {

        margin: 0 auto;

    }
    .crightplan_card {

        width: 100%;

    }
    .firstcolumn
    {
        flex-direction: column;
        gap: 25px;
    }
    .secondcolumn 
    {
        flex-direction: column;
        gap: 25px;
    }
    #counter .counter {
        padding: 90px 0;
    }
    #counter .counter .counters h2 {
        font-weight: 600;
        font-size: 40px;
    }
    #counter .counter .counters h6 {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
    }
    #counter .counter .counters {
        border-right: 0px solid #4F585F;
    }
    .navbar-toggler {

        background-color: #fff;

    }
    #banner .overlay .banner p {
        font-size: 20px;

    }

    header nav ul {
        gap: 25px;
    }
    nav button {

        padding: 3px 28px;
        margin-top: 20px;

    }
    .mt-2 {

        text-align: center;
    }

    .navbar-collapse {
        text-align: center;
    }

    .whychoose__wrapper {
        padding-top: 100px;
        padding-bottom: 25px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .crightplan_card {
        width: 90%;
        margin: 0 auto;
    }

    .crightplan_card .crightplan_card_pera {

        width: auto;
    }
    .footerright_content
    {
        text-align: center;
    }
    .copyright {
        padding-bottom: 0px;
    }
    .realimpact_left_content1 {
 
        justify-content: center;
    }

    .realimpact_left_content2 {
 
        justify-content: center;
    }
    .whatwedo {
        padding: 0px 0;
    }



















}
@media (min-width: 768px) and (max-width: 991px) 
{

}