.container {
  max-width: 1170px;
}

a {
  color: #EFF4FA;
  text-decoration: none;
  font-family: "Open Sans", serif;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
header nav {
  background-color: rgba(22, 12, 109, 0.5);
  padding: 18px 0 !important;
}
header nav ul {
  gap: 42px;
}
header nav ul li a {
  font-weight: 600;
  font-size: 16px;
}
header nav ul li a:hover {
  color: #29ff08;
  transition: 0.4s;
}

nav button {
  background: #1BBF00;
  border: none;
  color: #EFF4FA;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
}

#banner {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
#banner .sheap1 {
  position: absolute;
  top: 384px;
  left: 31px;
}
#banner .sheap2 {
  position: absolute;
  bottom: 73px;
  right: 314px;
}
#banner .overlay {
  padding-top: 246px;
  padding-bottom: 254px;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 98, 197, 0.8);
}
#banner .overlay .banner h1 {
  font-size: 84px;
  font-family: "Open Sans", serif;
  font-weight: 700;
  color: #fafafe;
  margin-bottom: 20px;
}
#banner .overlay .banner p {
  font-size: 24px;
  font-weight: 400;
  font-family: paprika;
  color: #E6E5F3;
  max-width: 715px;
  margin: 0 auto;
}
#banner .overlay .banner button {
  margin-top: 16px;
  border: 2px solid #1BBF00;
  background: #1BBF00;
  border: none;
  color: #EFF4FA;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
}
#banner .overlay .banner button:hover {
  background: transparent;
  border: 2px solid #1BBF00;
  transition: 0.4s;
}

#counter {
  position: relative;
}
#counter .counterr8img {
  position: absolute;
  right: 0;
  width: 20%;
}
#counter .counter {
  padding: 286px 0;
}
#counter .counter .counters {
  border-right: 2px solid #4F585F;
}
#counter .counter .counters h2 {
  font-weight: 800;
  font-family: "Open Sans", serif;
  color: #1BBF00;
  font-size: 64px;
  line-height: 68px;
}
#counter .counter .counters h6 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
#counter .counter .counters:nth-of-type(4) {
  border: none;
}

#whychoose {
  position: relative;
}
#whychoose img {
  position: absolute;
  width: 20%;
}

.whychoose__wrapper {
  padding-top: 100px;
  padding-bottom: 91px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.whychoose_left_roundicon .round1 {
  width: 25px;
  height: 25px;
  background-color: #1BBF00;
  border-radius: 50%;
}
.whychoose_left_roundicon .round2 {
  width: 25px;
  height: 25px;
  background-color: #CBC8F0;
  border-radius: 50%;
  margin-left: -10px;
}

.whychoose_left_content_text {
  width: 319px;
  font-family: paprika;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #726E9E;
}

.whychoose_right h2 {
  color: #141135;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
}
.whychoose_right h6 {
  font-family: paprika;
  color: #726E9E;
  font-size: 18px;
  line-height: 30px;
  margin-top: 9px;
  width: 393px;
}
.whychoose_right button {
  background: #1BBF00;
  border: none;
  color: #EFF4FA;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 41px;
}

.whychoose_left_content:hover {
  width: 568px;
  border-radius: 12px;
  transition: 0.4s;
  box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.82);
}

.whychoose_left_content {
  transition: 0.4s;
  margin: 23px 0px;
  padding: 10px 0;
  width: 100%;
}

.card__image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
  border-radius: 10px;
  width: 370px;
  padding: 48px 51px 49px 52px;
}
.card h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Open Sans", serif;
}
.card p {
  font-family: paprika;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
}
.card a {
  position: relative;
  bottom: 0;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", serif;
  line-height: 24px;
  z-index: 1;
}
.card a::after {
  content: " ";
  width: 25px;
  height: 35px;
  background-color: #1BBF00;
  position: absolute;
  right: 75px;
  top: -5px;
  border-radius: 0 50px 50px 0;
  z-index: -1;
}
.card:hover {
  background-color: #6B62C5;
}
.card:hover h2 {
  color: #fafafe;
}
.card:hover p {
  color: #E6E5F3;
}
.card:hover a {
  color: #F4F4F5;
}
.card:hover a::after {
  background-color: rgba(255, 255, 255, 0.381);
}

.card1 {
  border-radius: 10px;
  width: 370px;
}
.card1 h2 {
  font-family: "Open Sans", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: auto;
}
.card1 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.card1 button {
  background: #1BBF00;
  border: none;
  color: #EFF4FA;
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 100px;
  line-height: 200%;
  text-transform: capitalize;
  border: 2px solid transparent;
  margin-top: 56px;
}

.secondcolumn {
  margin-top: 30px;
}

.whatwedo {
  padding: 100px 0;
}

.realimpact {
  padding: 91px 0 100px 0;
}

.realimpact_content {
  margin-top: 93px;
}

.realimpact__pera {
  margin: 0 auto;
}

.realimpact_p_heading {
  font-size: 48px;
  font-weight: 700;
  line-height: auto;
  font-family: "Open Sans", serif;
  color: #141135;
  margin-bottom: 23px;
}

.realimpact_p_p {
  margin: 0 auto;
  width: 684px;
  font-size: 18px;
  font-family: paprika;
  font-weight: 400;
  line-height: 30px;
  color: #726E9E;
}

.realimpact_left_content img {
  width: 63px;
  height: 45px;
}

.realimpact_left_content1 {
  margin-bottom: 40px;
}

.realimpact_left_content1_heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Open Sans", serif;
  color: #141135;
  margin-bottom: 20px;
}

.realimpact_left_content1_p {
  font-family: paprika;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726E9E;
}

.realimpact_left_content2 {
  margin-bottom: 40px;
}

.realimpact_left_content2_heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Open Sans", serif;
  color: #141135;
  margin-bottom: 20px;
}

.realimpact_left_content2_p {
  font-family: paprika;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #726E9E;
}

.realimpact_right_content img {
  margin-top: -45px;
}

#realimpact {
  position: relative;
}
#realimpact .realimpactbgimg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
}

.crightplan {
  padding: 100px 0;
}

.crightplan_heading {
  font-family: "Open Sans", serif;
  font-size: 48px;
  line-height: auto;
  font-weight: 700;
  color: #141135;
  text-align: center;
}

.crightplan_content {
  margin-top: 64px;
  justify-content: space-between;
}

.crightplan_card {
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 370px;
  border-radius: 10px;
  transition: 0.4s;
}
.crightplan_card:hover {
  background-color: #6B62C5;
}
.crightplan_card:hover .crightplan_card_heading {
  color: #FAFAFE;
}
.crightplan_card:hover .crightplan_card_pera {
  color: #E6E5F3;
}
.crightplan_card .crightplan_card_heading {
  font-family: "Open Sans", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 26px;
}
.crightplan_card .crightplan_card_img {
  width: 370px;
}
.crightplan_card .crightplan_card_price {
  position: relative;
  font-family: nunito;
  font-size: 48;
  font-weight: 800;
  color: #1BBF00;
  margin-top: 10px;
  margin-bottom: 12px;
}
.crightplan_card .crightplan_card_price::after {
  content: "$";
  font-family: Quicksand;
  color: #1BBF00;
  position: absolute;
  left: -14px;
  top: -10px;
  font-size: 24px;
  font-weight: 500;
}
.crightplan_card .crightplan_card_pera {
  font-family: paprika;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #726E9E;
  text-align: center;
  width: 242px;
}/*# sourceMappingURL=style.css.map */