header
{
    nav{
        background-color: $primary;
        padding: 18px 0 !important;

        ul
        {
            gap: 42px;
            li 
            {
                a 
                {
                    font-weight: 600;
                    font-size: 16px;
                    &:hover
                    {
                        color: #29ff08;
                        transition: 0.4s;
                    }
                }

            }
        }

    }
}

nav
{
    
        button 
        {
            @include button();
        }
    
}