.realimpact
{
    padding: 91px 0 100px 0;
}
.realimpact_content
{
    margin-top: 93px;
}



.realimpact__pera
{
    
    margin: 0 auto;
}
.realimpact_p_heading
{
    font-size: 48px;
    font-weight: 700;
    line-height: auto;
    font-family: $pfont;
    color: #141135;
    margin-bottom: 23px;
}
.realimpact_p_p
{
    margin: 0 auto;
    width: 684px;
    font-size: 18px;
    font-family: paprika;
    font-weight: 400;
    line-height: 30px;
    color: #726E9E;
}
.realimpact_left_content
{
    img 
    {
       width: 63px;
       height: 45px;
    }
}



.realimpact_left_content1
{
    margin-bottom: 40px;
}
.realimpact_left_content1_heading
{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    font-family: $pfont;
    color: #141135;
    margin-bottom: 20px;
}
.realimpact_left_content1_p
{
    font-family: paprika;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #726E9E;
}

.realimpact_left_content2
{
    margin-bottom: 40px;
}
.realimpact_left_content2_heading
{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    font-family: $pfont;
    color: #141135;
    margin-bottom: 20px;
}
.realimpact_left_content2_p
{
    font-family: paprika;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #726E9E;
}
.realimpact_right_content
{
    img {
        margin-top: -45px;
    }
}
#realimpact
{
    position: relative;
    .realimpactbgimg
    {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 15%;
    }
}