.container
{
    max-width: 1170px;
}

$primary:rgba(22, 12, 109, 0.5);
$pfont: "Open Sans", serif;
$pcolor:#1BBF00;
a
{
    color: #EFF4FA;
    text-decoration: none;
    font-family:  "Open Sans", serif;
}

@mixin button($button: #1BBF00)
{
    background: $button;
    border: none;
    color: #EFF4FA;
    font-family:  "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 28px;
    border-radius: 100px;
    line-height: 200%;
    text-transform: capitalize;
    border: 2px solid transparent;

}