.whatpeoplethink
{
    padding: 100px 0;


    .whatpeoplethink__content
{
    width: 1080px;
    border-radius: 20px;
    margin: 0 auto;
}
}
.whatpeoplethink_header
{
    font-family: $pfont;
    margin-bottom: 79px;
}
