.card__image
{
    width: 64px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.card 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s;
    border-radius: 10px;
    width: 370px;
    padding: 48px 51px 49px 52px;
    h2 
    {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        font-family: $pfont;
    }
    p 
    {
        font-family: paprika;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 16px;
    }
    a 
    {
        position: relative;
        bottom: 0;
        color: black;
        font-size: 18px;
        font-weight: 700;
        font-family: $pfont;
        line-height: 24px;
        z-index: 1;
        &::after
        {
            content: " ";
            width: 25px;
            height: 35px;
            background-color: #1BBF00;
            position: absolute;
            right: 75px;
            top: -5px;
            border-radius: 0 50px 50px 0;
            z-index: -1;

        }
    }
    
    &:hover
    {
    background-color: #6B62C5;
    h2{
        color: #fafafe;

    }
    p{
        color: #E6E5F3;
    
       
    }
    a 
    {
        
        color: #F4F4F5;


    }
    a::after
    {
        background-color: rgba(255, 255, 255, 0.381);
    }
    
}


}

.card1
{
    border-radius: 10px;
    width: 370px;
    h2 
    {
        font-family: $pfont;
        font-size: 48px;
        font-weight: 700;
        line-height: auto;
    }
    p 
    {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
    }
    button 
    {
        @include button ();
        margin-top: 56px;
    }
}
.secondcolumn
{
    margin-top: 30px;
}

.whatwedo
{
    padding: 100px 0;
}
