#whychoose
{
    position: relative;
    img 
    {
        position: absolute;
        width: 20%;
    }
}
.whychoose__wrapper
{
    padding-top: 100px;
    padding-bottom: 91px;
    margin-bottom: 100px;
    margin-top: 100px;
}


.whychoose_left_roundicon

{
   
    .round1
    {
        width: 25px;
        height: 25px;
        background-color: #1BBF00;
        border-radius: 50%;
    }    
    .round2
    {
        width: 25px;
        height: 25px;
        background-color: #CBC8F0;
        border-radius: 50%;
        margin-left: -10px;
    }


}
.whychoose_left_content_text
{
    width: 319px;
    font-family: paprika;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #726E9E;
   
}


.whychoose_right
{
    
    h2{
        color:#141135;
        font-family:$pfont;
        font-weight: 700;
        font-size: 48px;
    }
    h6 
    {
        font-family: paprika;
        color: #726E9E;
        font-size: 18px;
        line-height: 30px;
        margin-top: 9px;
        width: 393px;
    }
    button
    {
        @include button ();
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 41px;
    }
}
.whychoose_left_content:hover
{

width: 568px;
// padding: 22px 0;
// height: 141px;


border-radius: 12px;

transition: 0.4s;
box-shadow: -1px 1px 17px -3px rgba(0,0,0,0.82);
}

.whychoose_left_content
{

transition: 0.4s;
margin: 23px 0px;
padding: 10px 0;
width: 100%;

}