#youalsolike
{
    background-color: #F9F9FB;
}


.youalsolike
{
    padding: 100px 0;

    .youalsolike__heading
    {
        font-family: $pfont;
        font-weight: 700;
        line-height: 65px;
        font-size: 50px;
        letter-spacing: -2px;
    }
}
